{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Storitve{% endblock %}

{% block content %}
<h2 class="admin-title">Dodajanje in urejanje storitev</h2>
<form class="border storitve_form" action="{{ items.id ? path('_admin_edit_storitve', {'id': items.id}) : path('_admin_add_storitve') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <!--div class="form-actions"-->
        <br />
        <input type="submit" name="save" value="Shrani" class="btn btn-primary">
    <!--/div-->
</form>

{% endblock %}
