{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Povpraševanja{% endblock %}

{% block content %}
<h2 class="admin-title">Dodajanje in urejanje povpraševanj</h2>
<form class="border news_form" action="{{ inquriy.id ? path('_admin_edit_inquiry', {'id': inquriy.id}) : path('_admin_add_inquiry') }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <!--div class="form-actions"-->
        <input type="submit" name="save" value="Shrani" class="btn btn-primary">
    <!--/div-->
</form>

{% endblock %}
