{% extends 'StaticBundle::layout.html.twig' %}

{% block title %}{% trans %}O nas{% endtrans %}{% endblock %}

{% block content %}
<h1 class="title title-color">{% trans %}O nas{% endtrans %}</h1>
<hr>
<div style="text-align: justify; padding: 10px 50px;">
    <br />
    <p style="font-size: 120%;">
        <b>{% trans %}Dobrodošli na naši spletni strani{% endtrans %}</b></p>
    
    <p class="about">
        {% trans %}Smo podjetje, ki se ukvarja z grafičnimi storitvami.{% endtrans %}
    </p>   
    <p class="about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mollis orci metus, eu tincidunt lorem bibendum sed. Duis augue metus, tincidunt sit amet cursus vel, dignissim ut massa. Etiam facilisis nisl et rutrum fermentum. Curabitur vitae sapien porttitor, faucibus nibh ac, dapibus nisi. Praesent imperdiet massa rutrum lacus sollicitudin, sed tempor neque rutrum. Nulla sem eros, consectetur ac mi at, imperdiet scelerisque mauris. Proin iaculis ut augue vel vestibulum. Sed consectetur felis orci, ut interdum risus ultricies ac. Aliquam ac felis semper eros fermentum fringilla ac quis quam. Aliquam volutpat augue urna.
    </p>
    <p class="about">
        {% trans %}Za vse informacije nas lahko kontaktirate preko telefona ali elektronske pošte. V najkrajšem možnem času Vas bomo kontaktirali in Vam posredovali željene informacije.{% endtrans %}
    </p>
    <br />
    <p><b>{% trans %}Zahvaljujemo se Vam za obisk naše spletne strani.{% endtrans %}</b></p>
</div>
    <p>&nbsp;</p>
{% endblock %}